<!DOCTYPE html>
<html>

  <head>
    <title>Racing!</title>
  </head>

  <body>
    <div id="game">
      <h1> JS Ruby Racerrrr </h1>
      <h3>Game Rules: </h3>
      <ul>
        <li><%= @game.players[0].username %> advances using the up arrow key</li>
        <li><%= @game.players[1].username %> advances using the up arrow key</li>
      </ul>
      <table class="racer_table">
        <tr id="player1_strip">
        <th scope= "row"><h2><%= @game.players[0].username %></h2></th>
          <td class="active1"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="end"></td>
        </tr>
        <tr id="player2_strip">
        <th scope= "row"><h2><%= @game.players[1].username %></h2></th>
          <td class="active2"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="end"></td>
        </tr>
      </table>
      <ul>
        <li> Game Started at: <%= @game.start %> </li>
        <li> Game Finished at: <%= @game.finished %> </li>
      </ul>

      <div class="announcement">
        <% if @game.winner %>
          <h2> Congratulations, <%= @game.winner %>!!</h2>
        <% end %>
      </div>
    </div>
  </body>

</html>
